SANTA3/__pycache__/util.cpython-310.pyc
SANTA3/__pycache__/variables.cpython-310.pyc
SANTA3/lanzador.py
SANTA3/log_santa.txt
SANTA3/lanzador.py
SANTA3/lanzador.py
SANTA3/log_santa.txt
SANTA3/operando.txt
