SANTA3/operando.txt
SANTA3/log_santa.txt
SANTA3/lanzador.py
SANTA3/lista_monedas_filtradas.txt
SANTA3/__pycache__/*
SANTA3/TALLER.py
SANTA3/log_kucoin.txt
SANTA3/log_binace.txt
SANTA3/lista_monedas_filtradas_kucoin.txt
SANTA3/lista_monedas_filtradas_binance.txt
SANTA3/~$FORMULAss.xlsx
SANTA3/log_finandy.txt
SANTA3/lista_monedas_filtradas_finandy.txt
SANTA3/dict_monedas_filtradas_finandy.txt
SANTA3/configuration.json
SANTA3/dict_monedas_filtradas_kucoin.txt
SANTA3/noticias.txt
predictor/TALLER.py
