SANTA3/operando.txt
SANTA3/log_santa.txt
SANTA3/lanzador.py
SANTA3/lista_monedas_filtradas.txt
SANTA3/__pycache__/*
SANTA3/TALLER.py
SANTA3/log_kucoin.txt
SANTA3/log_binace.txt
SANTA3/lista_monedas_filtradas_kucoin.txt
SANTA3/lista_monedas_filtradas_binance.txt
SANTA3/~$FORMULAss.xlsx
SANTA3/log_finandy.txt
SANTA3/lista_monedas_filtradas_finandy.txt
SANTA3/dict_monedas_filtradas_finandy.txt
SANTA3/configuration.json
SANTA3/dict_monedas_filtradas_kucoin.txt
SANTA3/noticias.txt
predictor/TALLER.py
predictor/log_finandy.txt
predictor/modelos/*
predictor/__pycache__/constantes.cpython-310.pyc
predictor/__pycache__/util.cpython-310.pyc
predictor/posiciones.json
.vscode/settings.json
predictor/configuracion.json
predictor/__pycache__/*
predictor/lista_monedas_filtradas.txt
predictor/Predictor2.html
FENIX/__pycache__/util.cpython-310.pyc
FENIX/__pycache__/constantes.cpython-310.pyc
FENIX/posiciones.json
FENIX/log_finandy.txt
FENIX/lista_monedas_filtradas.txt
FENIX/Fenix.html
FENIX/configuracion.json
FENIX/__pycache__/modulos.cpython-310.pyc
FENIX/noticias.txt
FENIX/TALLER.py
FENIX/products.csv
FENIX/prices.csv
FENIX/__pycache__/constantes.cpython-39.pyc
FENIX/__pycache__/modulos.cpython-39.pyc
FENIX/~$cumentación Fenix.docx
FENIX/estrategia_santa_symbols.txt
FENIX/estrategia_triangulos_symbols.txt
old/SANTA3/__pycache__/constantes.cpython-310.pyc
old/SANTA3/__pycache__/indicadores.cpython-310.pyc
old/SANTA3/__pycache__/util.cpython-310.pyc
old/SANTA3/dict_monedas_filtradas_finandy.txt
old/SANTA3/configuration.json
old/SANTA3/operando.txt
old/SANTA3/log_finandy.txt
old/SANTA3/lanzador.py
old/SANTA3/dict_monedas_filtradas_finandy.txt
old/SANTA3/configuration.json
old/SANTA3/dict_monedas_filtradas_finandy.txt
FENIX/estrategia_adrian_symbols.txt
old/SANTA3/__pycache__/constantes.cpython-310.pyc
old/SANTA3/TALLER.py
old/SANTA3/__pycache__/constantes.cpython-310.pyc
FENIX/crypto_latests.csv
FENIX/estrategia_trampa_symbols.txt
FENIX/estrategia_atrapes_symbols.txt
FENIX/historico.csv
FENIX/estrategia_haz_symbols.txt
